<td class='exemption-description' colspan=2>{{ description }}</td>
<td>
{{#if volume}}
  {{numbro volume isCurrency=true format="0, $"}}
{{else}}
  לא ידוע
{{/if}}
</td>
<td>{{moment start_date "D/M/YYYY"}}</td>
<td>{{moment end_date "D/M/YYYY"}}</td>
<td class='exemption-full-details-expander'>
  <div class="open" aria-hidden="true"><span class="glyphicon glyphicon-plus"></span></div>
  <div class="collapse" aria-hidden="true"><span class="glyphicon glyphicon-minus"></span></div>
</td>
