<td class='exemption-description' colspan=2><a href="#entity/{{ entity_id }}/publication/{{ publication_id }}/2014/main" target="_blank">{{ description }}</a></td>
<td>
{{#if volume}}
  {{numbro volume isCurrency=true format="0, $"}}
{{else}}
  לא ידוע
{{/if}}
</td>
<td>{{moment start_date "D/M/YYYY"}}</td>
<td>{{moment end_date "D/M/YYYY"}}</td>
<td class='exemption-full-details-expander'>
  <div class="open" aria-hidden="true">הצג</div>
  <div class="collapse" aria-hidden="true">הסתר</div>
</td>
