<td class='exemption-publisher'>{{ publisher }}</td>
<td class='exemption-start'>{{ exemptions.length }}</td>
<td class='exemption-volume'>
{{#if total_volume}}
  {{numbro total_volume isCurrency=true format="0, $"}}
{{else}}
  לא ידוע
{{/if}}
</td>
<td class='exemption-description'>{{moment start_date "D/M/YYYY"}}</td>
<td class='exemption-subjects'>{{moment end_date "D/M/YYYY"}}</td>
<td class='exemption-expander'>
  <span class="glyphicon glyphicon-chevron-down open" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-chevron-up collapse" aria-hidden="true"></span>
</td>
