<!--td class='exemption-description' colspan=2><a href="<%= url %>" target="_blank"><%= description %></a></td>
<td><%= number_with_commas(volume==null? 0 : volume)%> ש"ח</td>
<td><%= start_date %></td>
<td><%= end_date %></td>
<td class='exemption-expander'>
  <span class="glyphicon glyphicon-chevron-down open" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-chevron-up collapse" aria-hidden="true"></span>
</td-->
<td colspan="6" class="exemption-full-details">
    <div class="arrow-box">
      <p class='exemption-description shareLink'><a href="#entity/{{ entity_id }}/publication/{{ publication_id }}" target="_blank"><span class="glyphicon glyphicon-send"></span>שתף התקשרות</a></p>
      <p class='exemption-description mrgovLink'><a href="{{ url }}" target="_blank"><span class="glyphicon glyphicon-link"></span>הצג התקשרות באתר מנהל הרכש</a></p>

    <ul>
    <li>
        <h4>תקופת התקשרות</h4>
        {{moment start_date "D/M/YYYY"}}-{{moment end_date "D/M/YYYY"}}
    </li>
    <li>
        <h4>סכום התקשרות</h4>
        {{#if volume}}
          {{numbro volume isCurrency=true format="0, $"}}
        {{else}}
          לא ידוע
        {{/if}}
    </li>
    <li>
        <h4>סטטוס</h4>
        {{ decision }}
    </li>
    <li>
        <h4>תקנה</h4>
        {{ regulation }}
    </li>

    </ul>
        <div class="table-forms">
    {{#if documents.length}}

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="3"><h4>מסמכים</h4></th>
        </tr>
        </thead>
        <tbody>
        {{#each documents}}
        <tr>
            <td class="field-label col-md-2"><a href="http://www.obudget.org/api/exemption/document?url={{ link }}"><div class="glyphicon glyphicon-paperclip" aria-hidden="true"></div>&nbsp;&nbsp;{{moment update_time "d/M/YYYY"}}</a></td>
            <td class="field-label col-md-10">{{ description }}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
            </div>
        </div>
    {{/if}}
</td>
