<div class="left-con">

  <h2 class='entity-name'>{{ name }}
  <h4 class='manof-name'>
  {{#ifCond kind "==" "association"}}
      עמותה/חברה לתועלת הציבור מ.ר. {{ id }} (<a target="_blank" href="http://www.guidestar.org.il/organization/{{ id }}">מידע נוסף בגיידסטאר</a>)
  {{/ifCond}}
  {{#ifCond kind "==" "company"}}
      חברה פרטית מ.ר. {{ id }}
  {{/ifCond}}
  {{#ifCond kind "==" "municipality"}}
      רשות מקומית
  {{/ifCond}}

  </h4></h2>

      <div class="left-info">
          <div class="info">

  {{#if exemptions.length }}
  <h3 class="entity-title">
  &larr;&nbsp{{ exemptions.length }} התקשרויות עם <span class="total"></span>
  משרדים בסך
  {{#if exemptions_sum}}
    {{numbro exemptions_sum isCurrency=true format="0, $"}}
  {{else}}
    לא ידוע
  {{/if}}
  </h3>
  <table class="exemption-table table table-expandable">
      <thead>
          <th>שם המשרד</th>
          <th style="width: 4%;">מס'</th>
          <th style="width: 10%;">בסך</th>
          <th style="width: 9%;">התחלה</th>
          <th style="width: 9%;">סיום</th>
          <th style="width: 5%;"></th>
      </thead>
      <tbody>

      </tbody>
  </table>
  {{/if}}

  {{#if supports.length }}
    <h3 class="entity-title">&larr;&nbspתמיכות</h3>
    <table class="support-table table table-expandable">
        <thead>
            <th>שנה</th>
            <th>נושא</th>
            <th>תקנה</th>
            <th>אושר</th>
            <th>הועבר</th>
            <th>סוג</th>
            <th>עוד</th>
        </thead>
        <tbody>
          {{#each supports}}
          <tr>
              <td class='support-year'>{{ year }}</td>
              <td class='support-subject'>{{ subject }}</td>
              <td class='support-code'><a href="{{URLSchemeHandler 'linkToBudget' code year }}">{{strSlice code 2}} - {{ title }}</a></td>
              <td class='support-amount-allocated'>{{numbro amount_allocated}}</td>
              <td class='support-amount_supported'>{{numbro amount_supported}}</td>
              <td class='support-kind'>{{ kind }}</td>
              <td class='support-more'>
                  <span class='support-num_used'>
                  {{#ifCond kind "==" "תמיכה בפרט"}}
                    {{num_used}} נתמכים
                  {{else}}
                    {{#ifCond num_used ">" 1}}
                      {{num_used}} נתמכים
                    {{/ifCond}}
                  {{/ifCond}}
                  </span>
              </td>
          </tr>
          {{/each}}
        </tbody>
    </table>
  {{/if}}
      <div>
  </div>
</div>


