<div class="guide-line-photo">
    <div class="participant-name">
    	<strong>{{name}}</strong>
    	{{#if full_title}}{{full_title}}{{else}}{{title}}{{/if}}
    </div>
    <img class="participant-photo" src="{{photo_url}}" />
</div>
